extends ../_shared/_master

block main
    #main
        .container
            #bookings-history
                h1#main-title Bookings History for #{user.username}
                .row
                    if user.bookings.length
                        each b in user.bookings
                            .col-xs-12
                                article.booking.header
                                    .booking-car-model #{b.car.makemodel}
                                    .booking-pickup #{moment(b.startdate).format('YYYY-MM-DD')}
                                    .booking-dropoff #{moment(b.enddate).format('YYYY-MM-DD')}
                                    .booking-total-price #{b.totalprice} $
                                    if b.enddate.valueOf() > new Date().valueOf()
                                    a.edit-booking(href="/auth/bookings/" + b._id, title="title") 
                                            | Edit
                    else
                        .col-xs-12
                            article.booking.header
                                | No bookings in your history!
                        .col-xs-12
                            article.booking.header
                                div Check our awesome cars  
                                    a.btn.btn-info(href="/cars") cars
                        .col-xs-12
                            article.booking.header
                                div Or find some great offers 
                                    a.btn.btn-primary(href="/deals") deals