extends _shared/_master

block title
    | Car Rentals - Edit Car

block adminpage
    #edit-car
        h2#main-title Edit Car
        .row
            .col-xs-12
                form#edit-car-form(action='/auth/editcar/' + car._id, method='POST', encType='multipart/form-data')
                    input(type='hidden', name='_csrf', value=csrfTokenFunc())
                    label(for='makemodel') Car Make and Model
                    br
                    input#name.form-control(type='text', name='makemodel', value=car.makemodel)
                    br
                    label(for='category') Category
                    br
                    select.form-control(name='category', title='category')
                        if (car.category == 'Economy')
                            option(value='Economy', title='Economy' selected) Economy
                            option(value='Compact', title='Compact') Compact
                            option(value='Fullsize', title='Fullsize') Full-size
                            option(value='Premium', title='Premium') Premium
                            option(value='SUV', title='SUV') SUV
                            option(value='Van', title='Van') Van
                        if (car.category == 'Compact')
                            option(value='Economy', title='Economy') Economy
                            option(value='Compact', title='Compact' selected) Compact
                            option(value='Fullsize', title='Fullsize') Full-size
                            option(value='Premium', title='Premium') Premium
                            option(value='SUV', title='SUV') SUV
                            option(value='Van', title='Van') Van
                        if (car.category == 'Fullsize')
                            option(value='Economy', title='Economy') Economy
                            option(value='Compact', title='Compact') Compact
                            option(value='Fullsize', title='Fullsize' selected) Full-size
                            option(value='Premium', title='Premium') Premium
                            option(value='SUV', title='SUV') SUV
                            option(value='Van', title='Van') Van
                        if (car.category == 'Premium')
                            option(value='Economy', title='Economy') Economy
                            option(value='Compact', title='Compact') Compact
                            option(value='Fullsize', title='Fullsize') Full-size
                            option(value='Premium', title='Premium' selected) Premium
                            option(value='SUV', title='SUV') SUV
                            option(value='Van', title='Van') Van
                        if (car.category == 'SUV')
                            option(value='Economy', title='Economy') Economy
                            option(value='Compact', title='Compact') Compact
                            option(value='Fullsize', title='Fullsize') Full-size
                            option(value='Premium', title='Premium') Premium
                            option(value='SUV', title='SUV' selected) SUV
                            option(value='Van', title='Van') Van
                        if (car.category == 'Van')
                            option(value='Economy', title='Economy') Economy
                            option(value='Compact', title='Compact') Compact
                            option(value='Fullsize', title='Fullsize') Full-size
                            option(value='Premium', title='Premium') Premium
                            option(value='SUV', title='SUV') SUV
                            option(value='Van', title='Van' selected) Van
                        
                    br
                    label(for='carphoto') Choose another picture
                    br
                    span
                    img(width=100, src= '../../' + car.carphotolink, id='carphotoimg' style='cursor:pointer')
                    input(type='file', id='carphoto', name='carphoto')
                    br
                    label.section Capacity
                    label(for='adultscount') Number of Adults
                    br
                    input#adults.form-control(type='text', name='adultscount', value=car.adultscount)
                    br
                    label(for='bagscount') Number of Bags
                    br
                    input#bags.form-control(type='text', name='bagscount', value=car.bagscount)
                    br
                    label(for='doorscount') Number of Doors
                    br
                    input#doors.form-control(type='text', name='doorscount', value=car.doorscount)
                    br
                    label.section Car Details
                    label(for='fueltype') Fuel Type
                    select.form-control(name='fueltype', title='FuelType')
                        if (car.fueltype == 'Petrol')
                            option(value='Petrol', title='Petrol' selected) Petrol
                            option(value='Diesel', title='Diesel') Diesel
                            option(value='Hybrid', title='Hybrid') Hybrid
                            option(value='Electric', title='Electric') Electric
                        if (car.fueltype == 'Diesel')
                            option(value='Petrol', title='Petrol') Petrol
                            option(value='Diesel', title='Diesel' selected) Diesel
                            option(value='Hybrid', title='Hybrid') Hybrid
                            option(value='Electric', title='Electric') Electric
                        if (car.fueltype == 'Hybrid')
                            option(value='Petrol', title='Petrol') Petrol
                            option(value='Diesel', title='Diesel') Diesel
                            option(value='Hybrid', title='Hybrid' selected) Hybrid
                            option(value='Electric', title='Electric') Electric
                        if (car.fueltype == 'Electric')
                            option(value='Petrol', title='Petrol') Petrol
                            option(value='Diesel', title='Diesel') Diesel
                            option(value='Hybrid', title='Hybrid') Hybrid
                            option(value='Electric', title='Electric' selected) Electric
                    br
                    label(for='transmission') Transmission
                    select.form-control(name='transmission', title='Transmission')
                        if (car.transmission == 'Manual')
                            option(value='Manual', title='Manual' selected) Manual
                            option(value='Automatic', title='Automatic') Automatic
                        else
                            option(value='Manual', title='Manual') Manual
                            option(value='Automatic', title='Automatic' selected) Automatic
                    br
                    label(for='mileage') Mileage
                    input#mileage.form-control(type='text', name='mileage', value=car.mileage)
                    br
                    label(for='yearofmanufacture') Year of Manufacture
                    select.form-control(name='yearofmanufacture', title='YearofManufacture')
                        if (car.yearofmanufacture == '2010')
                            option(value='2010', title='2010' selected) 2010
                            option(value='2011', title='2011') 2011
                            option(value='2012', title='2012') 2012
                            option(value='2013', title='2013') 2013
                            option(value='2014', title='2014') 2014
                            option(value='2015', title='2015') 2015
                            option(value='2016', title='2016') 2016
                            option(value='2017', title='2017') 2017
                        if (car.yearofmanufacture == '2011')
                            option(value='2010', title='2010') 2010
                            option(value='2011', title='2011' selected) 2011
                            option(value='2012', title='2012') 2012
                            option(value='2013', title='2013') 2013
                            option(value='2014', title='2014') 2014
                            option(value='2015', title='2015') 2015
                            option(value='2016', title='2016') 2016
                            option(value='2017', title='2017') 2017
                        if (car.yearofmanufacture == '2012')
                            option(value='2010', title='2010') 2010
                            option(value='2011', title='2011') 2011
                            option(value='2012', title='2012' selected) 2012
                            option(value='2013', title='2013') 2013
                            option(value='2014', title='2014') 2014
                            option(value='2015', title='2015') 2015
                            option(value='2016', title='2016') 2016
                            option(value='2017', title='2017') 2017
                        if (car.yearofmanufacture == '2013')
                            option(value='2010', title='2010') 2010
                            option(value='2011', title='2011') 2011
                            option(value='2012', title='2012') 2012
                            option(value='2013', title='2013' selected) 2013
                            option(value='2014', title='2014') 2014
                            option(value='2015', title='2015') 2015
                            option(value='2016', title='2016') 2016
                            option(value='2017', title='2017') 2017
                        if (car.yearofmanufacture == '2014')
                            option(value='2010', title='2010') 2010
                            option(value='2011', title='2011') 2011
                            option(value='2012', title='2012') 2012
                            option(value='2013', title='2013') 2013
                            option(value='2014', title='2014' selected) 2014
                            option(value='2015', title='2015') 2015
                            option(value='2016', title='2016') 2016
                            option(value='2017', title='2017') 2017
                        if (car.yearofmanufacture == '2015')
                            option(value='2010', title='2010') 2010
                            option(value='2011', title='2011') 2011
                            option(value='2012', title='2012') 2012
                            option(value='2013', title='2013') 2013
                            option(value='2014', title='2014') 2014
                            option(value='2015', title='2015' selected) 2015
                            option(value='2016', title='2016') 2016
                            option(value='2017', title='2017') 2017
                        if (car.yearofmanufacture == '2016')
                            option(value='2010', title='2010') 2010
                            option(value='2011', title='2011') 2011
                            option(value='2012', title='2012') 2012
                            option(value='2013', title='2013') 2013
                            option(value='2014', title='2014') 2014
                            option(value='2015', title='2015') 2015
                            option(value='2016', title='2016' selected) 2016
                            option(value='2017', title='2017') 2017
                        if (car.yearofmanufacture == '2017')
                            option(value='2010', title='2010') 2010
                            option(value='2011', title='2011') 2011
                            option(value='2012', title='2012') 2012
                            option(value='2013', title='2013') 2013
                            option(value='2014', title='2014') 2014
                            option(value='2015', title='2015') 2015
                            option(value='2016', title='2016') 2016
                            option(value='2017', title='2017' selected) 2017
                    br
                    label(for='airconditioner') Air Conditioner
                    if car.airconditioner
                        input#air_conditioner.fom-control(type='checkbox', value='1', name='airconditioner', checked)
                    else
                        input#air_conditioner.fom-control(type='checkbox', value='0', name='airconditioner')
                    br
                    label.section Price
                    label(for='baseprice') Base price per Day
                    input#base_price.form-control(type='text', name='baseprice', value=car.baseprice)
                    br
                    label(for='specialprice') Special price per Day
                    input#special_price.form-control(type='text', name='specialprice', value=car.specialprice)
                    br
                    label(for='specialpriceactivated') Activate Special Price
                    if car.specialpriceactivated
                        input#activate_special_price.fom-control(type='checkbox', value='1', name='specialpriceactivated', checked)
                    else
                        input#activate_special_price.fom-control(type='checkbox', value='0', name='specialpriceactivated')
                    br
                    br
                    button.btn.btn-primary(type='submit') Update Car Info