extends _shared/_master

block adminpage
    #user-profile-page
        h1#main-title Change Profile of, 
            =user.username
        h2()
            center
                | Use this form to change your profile.
        .toastr
            #{req.toastr.render()}
        #user-profile
            form#profile-form(action='/auth/edituser/' + user._id, method="POST")
                label(for='username') Username
                br
                input#username.form-control(type='text', name='username', value=user.username, disabled='')
                br
                label(for='name') Name
                br
                input#name.form-control(type='text', name='name', value=user.name)
                br
                label(for='user-phone') Phone number
                br
                input#user-phone.form-control(type='text', name='phone', value=user.phone)
                br
                label(for='user-email') Email
                br
                input#user-email.form-control(type='email', name='email', value=user.email)
                br
                button.btn.btn-primary(type='submit') Save changes