extends ../../_shared/_master

block main
    #main
        .container
            #user-profile-page
                h1#main-title Welcome, 
                    =user.username
                h2()
                    center
                        | Review or edit this booking
                #{req.toastr.render()}
                #user-profile
                    form#profile-form(action='/auth/bookings/' +context.id, method="POST")
                        label(for='makemodel') Car Model
                        br
                        input#username.form-control(type='text', name='makemodel', value=context.car.makemodel, disabled='')
                        br
                        label(for='location') Pickup location
                        br
                        input.search-form-input(name='location' type='text', placeholder='Sofia', maxlength='90', disabled='')
                        label(for='startdate') Pick-up date
                        br
                        input.search-form-input.datepicker-from(name='startdate' type='text', placeholder='Pickup Date')
                        label(for='enddate') Drop-off date
                        br
                        input.search-form-input.datepicker-to(name='enddate' type='text', placeholder='Dropoff Date')
                        br
                        h3
                            | Total price: 
                            span.automatic-price(base=context.car.baseprice, special=context.car.specialprice, activated=context.car.specialpriceactivated)
                            span $
                        button.btn.btn-primary(type='submit') Save changes